{% load static %}

<nav>
    <a href="{% url 'homepage' %}">TCM</a>
    <a href="{% url 'store' %}">Store</a>
    
    <div style="display: flex;">
        {% for category in all_category %}
            <div>
                <a href="{% url 'store' %}{{category.slug}}">{{category.name}}:</a>
                <br>
                {% for type in all_type %}
                    <a href="{% url 'store' %}{{category.slug}}-{{type.slug}}">{{type.name}}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
    {% else %}
        <a href="{% url 'login_page' %}">Login</a>
    {% endif %}


    <a href="{% url 'cart' %}">Cart</a>
    <img src="{% static 'images/carrinho.png' %}" width="30px" height="30px"> 
    {{ quant_cart_itens }}


    

</nav>