{% extends 'base.html' %}
{% load static %}


{% block body %}

<h3> New Address </h3>
<a href="{% url 'checkout' %}">Back to Checkout</a>

<form method="post", action="">
    {% csrf_token %}

    <h3>Add new Address:</h3>

    <input type="text" name="description" placeholder="description"><br>
    <input type="text" name="street" placeholder="street"><br>
    <input type="text" name="number" placeholder="number"><br>
    <input type="text" name="complement" placeholder="complement"><br>
    <input type="text" name="city" placeholder="city"><br>
    <input type="text" name="state" placeholder="state"><br>
    <input type="text" name="cep" placeholder="CEP"><br>
    <input type="text" name="country" placeholder="country"><br>
    
    <button type="submit">ADD Address</button>

</form>

<hr>
<h3> Address: </h3>
{% for each_address in all_address %}
    <input type="radio" name="address" value="{{ each_address.id }}">
    <label for="{{ each_address.id }}">{{ each_address.description }} / 
        {{ each_address.street }},{{ each_address.number }} - 
        {{ each_address.complement }} - 
        {{ each_address.city }}-{{ each_address.state }} - 
        {{ each_address.cep }} - {{ each_address.country }}
    </label>
    <br>
{% endfor %}

{% endblock %}