{% extends 'base.html' %}
{% load static %}

{% block body %}

<h3> {{ product.name }}</h3>

{% if in_stock %}
    
    <img src="{{ product.image.url }}" , width="300" , height="400">
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>

    {% for color in colors %}
        <a href="{% url 'product_description' product.id color.id %}">
            <i class="fa-solid fa-circle" style="color: {{color.color_code}}; "></i>
            {{ color.name }}
        </a>
    {% endfor %}

    <p>Color: {{selected_color.name}}</p>
    
    {% if sizes %}
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}

            <p>Chose your size: </p>

            {% for size in sizes %}
                <input type="radio" name="size" value="{{ size }}">
                <label for="{{ size }}">{{ size }}</label> 
            {% endfor %}
            
            <input type="hidden" name= "color" value="{{ selected_color.id }}" >
            <button type="submit">Add to Chart</button>
        </form>
    {% endif %}


{% else %}
    <p>Produto Indisponivel</p>

{% endif %}

{% endblock %}