{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal principal--padding-b">
    <section class="loja">

        <form class="menu" method="post" action="">
            {% csrf_token %}

            <div class="menu__cabecalho">
                <div class="menu__titulos">
                    <div>
                        <img
                        class="menu__icone"
                        src="{% static 'images/filter-big-1-svgrepo-com.svg' %}"
                        alt="Ícone filtrar"
                        />
                    </div>
                    <p class="menu__titulo">Filter</p>
                </div>

                <p class="menu__fechar-filtro">X</p>

            </div>

            <div class="menu__preco">
                <p class="menu__subtitulo">Price Range</p>

                <div class="range_container">
                    <div class="sliders_control">
                        <input
                        id="fromSlider"
                        type="range"
                        name="minimum_price"
                        value="{{ minimum_price }}"
                        min="{{ minimum_price }}"
                        max="{{ maximum_price }}"
                        />
                        <input
                        id="toSlider"
                        type="range"
                        name="maximum_price"
                        value="{{ maximum_price }}"
                        min="{{ minimum_price }}"
                        max="{{ maximum_price }}"
                        />
                    </div>

                    <div class="menu__controles">
                        <div class="form_control">
                            <div class="form_control_container">
                                <input
                                class="form_control_container__time__input"
                                type="number"
                                id="fromInput"
                                name="minimum_price"
                                value="{{ minimum_price }}"
                                min="{{ minimum_price }}"
                                max="{{ maximum_price }}"
                                />
                            </div>

                            <p>BIS</p>

                            <div class="form_control_container">
                                <input
                                class="form_control_container__time__input"
                                type="number"
                                id="toInput"
                                name="maximum_price"
                                value="{{ maximum_price }}"
                                min="{{ minimum_price }}"
                                max="{{ maximum_price }}"
                                />
                            </div>

                        </div>

                        <button class="menu__botao">Filter</button>

                    </div>
                </div>
            </div>

            <div class="menu__expansivel">

                <div class="menu__expansivel-cabecalho menu__expansivel-cabecalho--aberto">
                    <p class="menu__subtitulo">Size</p>
                </div>

                <div class="menu__expansivel-conteudo">
                    <div class="menu__tamanhos">

                        {% for size in sizes %}
                            <div class="menu__tamanho">
                                <div class="menu__tamanho-quadrado">{{ size }}</div>
                                <input
                                    class="menu__checkbox"
                                    type="radio"
                                    name="size"
                                    value="{{ size }}"
                                />
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="menu__expansivel">
                <div class="menu__expansivel-cabecalho menu__expansivel-cabecalho--aberto">
                    <p class="menu__subtitulo">Type</p>
                </div>

                <div class="menu__expansivel-conteudo">
                    <div class="menu__categorias">

                        {% for type in all_type %}
                            <div class="menu__categoria">
                                <div class="menu__categoria-quadrado"></div>
                                <div class="menu__categoria-texto">{{ type.name }}</div>
                                <input
                                    class="menu__checkbox"
                                    type="radio"
                                    name="type"
                                    value="{{ type.slug }}"
                                />
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </form>


        <div class="produtos">
            <div class="produtos__cabecalho">
                <button class="produtos__cabecalho-filtrar">Filter</button>

                <div class="produtos__cabecalho-ordenarpor">
                    <div class="produtos__cabecalho-imgicone">
                        <img
                        class="produtos__cabecalho-icone"
                        src="{% static 'images/sort-vertical-svgrepo-com.svg' %}"
                        alt=""
                        />
                    </div>

                    <p class="produtos__subtitulo">Order By:</p>
                    <select class="produtos__select" onchange="redirectToPage()">
                        <option value="" >Select one Option</option>
                        <option value="Higher-price" class="filter-orderby">Higher Price</option>
                        <option value="lower-price" class="filter-orderby">Lower Price</option>
                        <option value="most-popular" class="filter-orderby">Most Popular</option>
                    </select>
                </div>
  
            </div>
  
            <div class="produtos__grade">
                {% for product in products %}
                    <a class="produto" href="{% url 'product_description' product.id %}">
                        <div class="produto__imagem">
                            <img
                            src="{{ product.image.url }}"
                            alt="Imagem do Produto"
                            />
                            
                        </div>

                        <div class="produto__textos">
                            <p class="produto__titulo">{{ product.name }}</p>
                            <div class="produto__preco">
                                <p class="produto__avista">R$ {{ product.price }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </section>
</main>

{% endblock %}