{% extends 'base.html' %}
{% load static %}


{% block body %}

<main class="principal"></main>
    <section class="conta">
        <div class="conta__container">

            {% if problem %}
            <h4>{{ problem }}</h4>
            {% endif %}

            <div class="checkout__titulos">
                <p class="checkout__titulo">Create New Account</p>
            </div>

            <form class="conta__form" method="post" action="{% url 'create_account' %}">
                {% csrf_token %}

                <div class="conta__item conta__item--email">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" placeholder="E-mail"/>
                </div>

                <div class="conta__item">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Password" />
                </div>

                <div class="conta__item">
                    <label for="confirm_password">Confirm Password</label>
                    <input name="confirm_password" type="password" placeholder="confirm_password" />
                </div>

                <button class="subtotal__botao" type="submit"> Create Account </button>

            </form>

            <a href="{% url 'login_page' %}">Already have a Account? Login</a>

        </div>

    </section>
</main>

{% endblock %}