{% extends 'base.html' %}
{% load static %}


{% block body %}

<main class="principal"></main>
    <section class="conta">
        <div class="conta__container">

            {% if problem %}
            <h4>User not found. Incorrect user or password!</h4>
            {% endif %}

            <div class="checkout__titulos">
                <p class="checkout__titulo">Login</p>
            </div>

            <form class="conta__form" method="post" action="{% url 'login_page' %}">
                {% csrf_token %}

                <div class="conta__item">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" placeholder="E-mail"/>
                </div>

                <div class="conta__item">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Password" />
                </div>

                <button class="subtotal__botao" type="submit"> Login </button>

            </form>

            <a href="{% url 'create_account' %}">Create New Account</a>
            <a href="{% url 'password_reset' %}">Forgot the password?</a>

        </div>

    </section>
</main>

{% endblock %}