{% extends 'base.html' %}
{% load static %}

{% block body %}

<h3>My Orders</h3>
<a href="{% url 'profile' %}">My Account</a>

{% for order in orders %}
<div style="display: flex;">
    <p>Date: {{ order.purchase_date }}</p>>
    <p>Order ID: {{ order.id }}</p>
    <p>transaction_code: {{ order.transaction_code }}</p>
    <p>Price: {{ order.total_price }}</p>
    <p>Address: {{ order.address.cep }}, {{ order.address.street }} / {{ order.address.city }}-{{ order.address.state }}</p>
    {% for item in pedido.itens %}
        <img src="{{ item.item_estoque.produto.imagem.url }}" width="50" height="75">
        <p>Produto: {{ item.item_estoque.produto.nome }}</p>
        <p>Quantidade: {{ item.quantidade }}</p>
        <p>Preço: {{ item.preco_total }}</p>
    {% endfor %}
</div>
<hr>
{% endfor %}

{% endblock %}