{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
        <div class="conta__container">

            <div class="checkout__titulos">
                <p class="checkout__titulo">My Orders</p>
            </div>

            {% for order in orders %}
            <div class="pedido">
                <div class="pedido__cabecalho">
                    <div>
                        <p><b>Data:</b>{{ order.purchase_date }}</p>
                        <p><b>Address:</b> {{ order.address.street }}, {{order.address.number}} - {{ order.address.city }}-{{ order.address.state }} - {{ order.address.cep }}</p>
                    </div>

                    <div>
                        <p><b>Total</b></p>
                        <p>{{ order.total_price }}</p>
                    </div>

                    <div>
                        <p><b>Order Number:</b></p>
                        <p>{{ order.id }}</p> 
                        <p><b>Transaction Code:</b></p>
                        <p>{{ order.transaction_code }}</p>
                    </div>
                </div>

                <div class="pedido__corpo">
                    {% for item in order.order_itens %}
                    <div class="tabela__imagem">
                        <img
                        src="{{ item.stockitem.product.image.url }}"
                        alt="{{ item.stockitem.product.name }}"
                        />
                    </div>
                    <div class="tabela__produto-textos">
                        <p><b>{{ item.stockitem.product.name }}</b></p>
                        <p><b>Quant:</b> {{ item.quant }}</p>
                        <p><b>Price:</b> {{ item.total_price}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
  </main>

{% endblock %}