{% extends 'base.html' %}
{% load static %}


{% block body %}

<main class="principal"></main>
    <section class="conta">
        <div class="conta__container">

            <div class="checkout__titulos">
                <p class="checkout__titulo">Key Indicators</p>
            </div>

            <P>Finished Order: {{quant_orders}}</P>
            <P>Total Invoice: R$ {{total_invoice}}</P>
            <P>Total Itens: {{total_itens}}</P>

        </div>

        <div class="conta__container">

            <div class="checkout__titulos">
                <p class="checkout__titulo">Download Report</p>
            </div>

            <a href="{% url 'download_report' 'orders' %}" class="subtotal__botao">Download Orders</a>
            <a href="{% url 'download_report' 'client_list' %}" class="subtotal__botao">Download Client List</a>
            <a href="{% url 'download_report' 'address_list'%}" class="subtotal__botao">Download Address List</a>
            
        </div>

    </section>
</main>

{% endblock %} 